<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ project ：JunjieFinance
  ~ author : dluobida
  ~ class : AndroidManifest.xml
  ~ package : E:/workspace/ASProject/JunjieFinance/app/src/main/AndroidManifest.xml
  ~ currentModifyTime : 2019-10-29 21:10:48
  ~ lastModifyTime : 2019-10-28 23:10:47
  ~ Copyright (c) 2019 dluobida .
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dluobida.bluecat.finance">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.dluobida.bluecat.finance.base.application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/bluecat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dluobida.bluecat.finance.modules.main.ui.activity.MainActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.dluobida.bluecat.finance.modules.expand.ui.activity.CreateExpandActivity"></activity>
        <activity android:name="com.dluobida.bluecat.finance.modules.assets.ui.activity.CreateAccountActivity"></activity>
        <activity android:name="com.dluobida.bluecat.finance.modules.assets.ui.activity.AccountDetailActivity"></activity>
        <activity android:name="com.dluobida.bluecat.finance.modules.income.ui.activity.CreateIncomeActivity"></activity>
        <activity android:name="com.dluobida.bluecat.finance.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>